@charset "utf-8";
/*public*/
body,h1,h2,h3,h4,h5,dl,dd,dt,p,ul,li,ol{ margin:0; padding:0;}
input,select,form,textarea,button,video{ border:none; margin:0;outline:none; padding:0; appearance:none;}
h1,h2,h3,h4,h5{ font-weight:normal;}
img{ border:none;}
a{ 
	text-decoration:none; outline:none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}
select{
	-webkit-appearance:none; /*去除系统默认的样式*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);   /* 点击高亮的颜色*/
}
body,button,input,select,textarea{ font: normal 12px/100% Arial,Helvetica,sans-serif;}
li{ list-style-type:none;}
table{border-collapse:collapse;border-spacing:0;}
body,html{ width:100%; height: 100%;}
html{ background-color: #5f110b; }
.text-overflow{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.clearfix{font-size:0;clear:both;}
.clearfix:before {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	font-size: 0;
	visibility: hidden;
	overflow: hidden;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	font-size: 0;
	visibility: hidden;
	overflow: hidden;
}
::placeholder {color: #fff;}
::-webkit-input-placeholder {
  color: #fff
}
button {
    -webkit-appearance: none;
    border: 0;
    background: none;
}
/*house_electrical*/
.special-house-electrical{padding-bottom:2.5rem;}
.special-house-electrical-banner{height: 18.304rem; overflow: hidden;width: 100%; }
.special-house-electrical-banner img{ max-width: 100%;  display: block; height: 100%; }
.special-house-electrical-con{margin-top:-2.965rem; position: relative; z-index: 2}
.special-house-electrical-tit{position:relative;text-shadow: 0.06rem 0.06rem #891313;margin:0 auto;width:13.077rem; height: 2.389rem; line-height: 2.389rem;padding:0 0.342rem;text-align: center; color:#fff;font-size: 0.853rem;background: url(../images/title01.png) left top no-repeat;background-size: 100% 100%}
.special-house-electrical-tit em{width:1.216rem; height: 1.579rem; display: inline-block; position:absolute; right:-1.4rem; top:0.7rem;background: url(../images/stars.png) left top no-repeat;background-size: 100% 100%}
/*house_electrical part1*/
.special-house-electrical-part1{padding:0 0.43rem;}
.special-house-electrical-part1 ul li{ position: relative;margin-top:0.256rem; } 
.special-house-electrical-part1 ul li a{  width: 100%; border: 0;padding: 0; margin: 0; display: block; }
.special-house-electrical-part1 ul li .div-con{min-height:5rem; position:relative; z-index:3;margin-bottom:0.64rem; border:0.256rem solid #d30f47; border-radius:0.213rem;  background:#fff;}
.special-house-electrical-part1 ul li .li-shadow{z-index: 2; position: absolute;top:-0.256rem; height:0.8rem;left:0.256rem;right:0.256rem;border-top-left-radius:0.4rem;border-top-right-radius:0.4rem;background:#891313;  }
.special-house-electrical-part1 ul li .h-e-l{margin:0.49rem; float: left;width:4.267rem; height: 4.267rem;}
.special-house-electrical-part1 ul li .h-e-l img {width:100%; border-radius:0.2rem;height: 100%; display: block; position: relative; z-index: 2}
.special-house-electrical-part1 ul li .h-e-l em{width:1.152rem; position: absolute; top:0.49rem; left:0.746rem; z-index: 3; display: block; height: 1.258rem; background: url(../images/icon01.png) left top no-repeat;background-size: 100% 100%}
.special-house-electrical-part1 ul li .h-e-r{width:8.8rem; float:Left; padding:0.497rem 0.02rem 0.497rem 0 ; font-size: 0.47rem}
.special-house-electrical-part1 ul li .h-e-r h2{font-size:0.683rem; line-height: 0.853rem;color:#333; max-height: 1.706rem; overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; padding-top:0.1rem;}
.special-house-electrical-part1 ul{padding-top:0.22rem;}
.special-house-electrical-part1 ul li .h-e-r p.p01{margin-top:0.42rem; color:#666; height: 0.6rem;  line-height: 0.6rem}
.special-house-electrical-part1 ul li .h-e-r p.p02{ margin-top:0.36rem;width:100%;float:Left;}
.special-house-electrical-part1 ul li .h-e-r .money{max-width:100%; overflow:hidden;white-space: nowrap;text-overflow: ellipsis;margin-top:0.2rem; float:left;display:inline-block; line-height:0.854rem;height:0.854rem;color:#fe3770; font-size: 0.81rem; }
.special-house-electrical-part1 ul li .h-e-r .money em{ font-size:0.512rem; font-style: normal; float: left; }
.special-house-electrical-part1 ul li .h-e-r .money-l{margin-top:0.2rem;height:0.854rem;float:left;color:#666;display:inline-block; font-size: 0.469rem;padding-left:0.2rem; text-decoration: line-through; line-height: 0.854rem;}
.special-house-electrical-part1 ul li .h-e-r .btn-01{margin-top:0.2rem;float:left;width:2.646rem; border: 0; display:inline-block; border-radius:0.2rem;margin-left:0.2rem; overflow: hidden; height: 0.854rem; line-height: 0.854rem; color:#fff; text-align: center; background:#ff0066; font-size: 0.47rem}
.special-house-electrical-part1 ul li .h-e-r .btn-01:active,.special-house-electrical-part2 ul li p.p03 .btn-02:active{ opacity: 0.9 }
/*house_electrical part2*/
.special-house-electrical-part2 ul {padding:0  0.32rem 0.22rem 0.32rem;margin-top:0.4rem}
.special-house-electrical-part2 ul li{ width:33.33%;; height: 8.96rem; float: left;margin-bottom:0.22rem;}
.special-house-electrical-part2 ul li>a{margin:0 0.11rem; display:block;background-color: #fff; height: 8.96rem;border-radius:0.2rem;}
.special-house-electrical-part2 ul li .div-img{border-top-left-radius: 0.2rem; border-top-right-radius:0.2rem;width:100%; text-align: center; height: 4.9rem; }
.special-house-electrical-part2 ul li .div-img img{border-top-left-radius: 0.2rem; border-top-right-radius:0.2rem;width:100%; height:100%;display: block;}
.special-house-electrical-part2 ul li p.p01{overflow: hidden;font-size: 0.47rem; margin-top:0.5rem;line-height: 0.68rem; height: 1.36rem;
 text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;color:#333;padding:0 3%;}
.special-house-electrical-part2 ul li p.p02{padding:0 3%;font-size: 0.64rem; color:#ff0066;margin-top: 0.2rem; height:0.68rem;line-height: 0.68rem}
.special-house-electrical-part2 ul li p.p02 em{font-size: 0.512rem; font-style: normal;}
.special-house-electrical-part2 ul li p.p03 .btn-02{margin:0 3%;margin-top:0.18rem; height: 0.938rem;    border-radius: 0.2rem;width:94%; line-height: 0.938rem; text-align: center; color:#fff; font-size:0.47rem; background:#ff0066;}

