body{
    padding:0;
    margin:0;
}
header{
    background: #fc3b3e;
    width: 100%;
    height: 2.1rem;
    line-height: 2.1rem;
    color: #9e9e9e;
    text-align: center;
    font-size: 0.9rem;
    color: #333333;
    color: white;
}
header ._lefte{
    display: block;
    position: absolute;
    height:21px;
    width: 12px;
    background-size: 100%;
    left: 0.6rem;
    color:#ffffff;
}
.center{
       width: 100%;
    height: 4rem;
}
.centerone{
      width: 80%;
    height: 3rem;
    float: left;
    color: #5c5c5c;
    font-size: 0.7rem;
    margin-top: 0.9rem;
    margin-left: 0.4rem;
}
.centertwo{
    width: 15%;
    height: 1rem;
    float: right;
    color: #696969;
    margin-top: 0.9rem;
    font-size: 0.6rem;
    color: #a0a0a0;
}
.centerthree{
    width: 109%;
    margin-top: 0.3rem;
    font-size: 0.6rem;
    font-size: 0.4rem;
    color: #adadad;
}
.centertwos{
   width: 100%;
    margin-top: 0.3rem;
    font-size: 0.4rem;
}