@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1552703364046'); /* IE9 */
  src: url('iconfont.eot?t=1552703364046#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK8AAsAAAAABnwAAAJtAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBCIELATYCJAMICwYABCAFhG0HMBuxBcgekiRRKhFQgFI6AYNLiCBaK6tn5xEVAWoMqCgCoRl8hCHh8zEyQrGLMPe/a5oS23PL8yVWY1Z48HNNj9MU5pDUhAZUZhNyE25y+jJnRNbnuZzeBDqQ1QfKcS8aa/JRL8B4a4B7YRRwICWUccP08gUOxH0C1bqkeQ4m59dRWKaXBeIuVUUULkRlmRUqhfKGvVl8UKYyvUxfeB99P/6ZizBJWUG3HF+fUNDwT6bEd1A6cCkgxAjocBkKTEAycb4xe8gnGOdTnfXrg47VGPzklgKPOKpTsL9O19eCDqh6JrXTPGp9AhmOD0KmJr0zORc1LX1lRVViFzeicePxenDl4aB1K/nqWwQ+fq1JHMdzQ3HO++DT/7Nq46Jef3E21tc3bu/fPbqXmhh6dXPuSKohIGE15Ar6eanRKA10wTWMflbc9J4JBAffw7upjf9wTQY/PngSObJhfir37Av+kHpgWxZabU2XUiFfMpgLS8CGapToYLPfqba22ymGSm035a/QmaFQaYDM7ATK1FhAuUrbqDZu6nCNFoxP5CqMOQUIjT6R1DtDodE3mdkflGn3h3KN4UO1i9FyZo2hoNF9BiIHBUv7mMqWSayXR+PGVVC7usjy2ojfBNahCVzI5suFKTCBLbGh01OLnBNMmGXgSfAY6LqFbWa1QebZFud2M5cjTS/KypaBovYxQMQBBSbZh1Eyi4kE3blo5fOrgKpLJ2Idslx5E2A66ORYQVZ+ADllMgfJHuWZjh5VEccRGMFYDNgkmAV0OgtmN89qAzIuqzUhbWvKmU5kqCm7vcX4uz1QTdtTmGmF8stUNNsUIQAAAA==') format('woff2'),
  url('iconfont.woff?t=1552703364046') format('woff'),
  url('iconfont.ttf?t=1552703364046') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1552703364046#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
  content: "\e639";
}

